.input{
    position: relative;
    background-color: black;
    min-height: 800px;
    padding-bottom: 60px;
    &__title{
        padding-top: 140px;
        text-align: center;
    }
    &__subtitle{
        margin-top: 60px;
        text-align: center;
        font-size: 64px;
    }
    &__icons{
        margin: 60px auto;
    }
    &__form{
        text-align: center;
        margin-top: 40px;
    }
    &__input{
        width: 416px;
        height: 85px;
        border-radius:30px;
        margin-left: 100px;
        font-size: 40px;
        text-align: center;
    }
    &__button{
        margin-top: 40px;
    }

}